@import 'foundation/settings';
@import 'foundation';
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);


h1, h2 {
	font-family: 'Lobster', cursive;	
}

h3, p, a, .caption {
	font-family: 'Cabin', sans-serif;
}
ul {
	list-style: none;
	margin: 0 0 0 0;
}

section {
	margin: 30px 0 30px 0;
}

body.overflow-hidden {
	overflow: hidden;
}

.main-container {
	
}

.skills {
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
}

#ceramics-slider {

	.slick-dots li button:before {
		font-size: 40px;
	}

	.caption {
		text-align: center;
	}
}

.contact-me {

}


.ceramics {
	h2 {
		padding: 10px 20px 10px 0px;
	}
}

.top-block {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 300;
	padding: 30px 60px;
	display: none;


	h1, a, p {
		color: white;
		max-width: 1000px;
	}
}


.hero-image{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: white;
	background-image: url('../images/backgroundImages/loadingGears.gif');
	background-repeat: no-repeat;
	background-position: center;


	img {
		display: none;
		height: 100%;
		max-width: 2400px; //correct this....


		&.wider {
			height: auto;
			width: 100%;
		}
	}

	&.loaded:before {
		z-index: 200;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}
}


#image-grid {
	li {
		background-image: url('../images/backgroundImages/loadingGears.gif');
		min-height: 48px;
		background-repeat: no-repeat;
		background-position: center;

		&.loaded {
			background-image: none;
		}

		img {
			display: none;
		}
	}
}

.reveal-modal {
	height: 80%;

	img {
		max-height: 80%;
		max-width: 100%;
		width: auto;
		display: block;
		margin: 0 auto;
		padding: 0;
	}
}

#artModal {
	#modal-title {
		text-align: center;
	}
	
	#modal-caption {
		margin-top: 20px;
		text-align: center;
	}
}

@media #{$medium-up} { 
	section {
		margin: 50px 0 50px 0;
	}

	.top-block {
		padding: 60px;
	}


}

@media #{$large-up} { 

	.hero-image {
		//background-size: 100% auto;
	}

}